@import "primeicons/primeicons.css";

.table-design {
    width: 40%;
    background-color: rgb(1, 22, 22);
}

.button-select {
    width: 50%;
    height: 1.5rem;
    background-color: rgb(255, 182, 25);
    border-radius: 10%;
    border-color: rgb(0, 114, 114);
}

.button-delete {
    border-radius: 10%;
    width: 50%;
    height: 1.5rem;
    background-color: rgb(255, 0, 0);
    border-color: rgb(39, 4, 4);
}

.table {
    border-style: dotted;
}

.column-table {
    border-style: groove;
}

.button-new {
    position: relative;
    float: right;
    width: 12%;
    height: 1rem;
    top: 0.5rem;
    border-radius: 7% 7% 7% 7%;
    background-color: rgb(0, 196, 0);
    border-color: black;
    border-style: ridge;
    color: black;
    font-weight: bolder;
}

.popup {
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
}

.popup-edit {
    background-color: rgb(222, 248, 255);
}

.modal-content {
    border-style: none;
}

.tablagen {
    display: table;
}

.fila {
    display: table-row;
}

.col {
    display: table-cell;
    padding: 12px;
    background: #ddd;
}

.no-visible {
    visibility: hidden;
}

.visible {
    display: table-cell;
    position: relative;
    left: 10%;
    visibility: visible;
}