<p-toast />
<p-card>
  <p-table [value]="warehss">
    <ng-template pTemplate="header">
      <tr>
        <th style="border-right: solid;">Cliente</th>
        <th style="border-right: solid;">Almacen</th>
        <th style="border-right: solid;">Tipo</th>
        <th style="border-right: solid;">tamaño</th>
        <th style="width: 5rem;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouse>
      <tr>
        <td class="column-table">{{ warehouse.clientName }}</td>
        <td class="column-table">{{ warehouse.id }}</td>
        <td class="column-table">{{ warehouse.family }}</td>
        <td class="column-table">{{ warehouse.size }}</td>
        <td>
          <p-button (click)="editarWareHouse($event, warehouse)" icon="pi pi-pencil" severity="warning"
            [outlined]="true" />
        </td>
        <td>
          <p-button (click)="confirmarEliminar($event, warehouse)" icon="pi pi-trash" severity="danger"
            [outlined]="true" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button class="button-new" type="button" pButton pRipple (click)="showDialog()">
    Crear Almacen
  </button>
</p-card>
<!-- modal para crear un almacén-->
<p-dialog header="{{accion}}" [modal]="true" [(visible)]="visible" [style]="{ width: '26rem'}">
  <div>
    <div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="almacen" class="font-semibold w-6rem">Almacén</label>
        <input pInputText id="almacen" class="flex-auto" autocomplete="off" [value]="wareHouse.id" readonly />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="cliente" class="font-semibold w-6rem">Cliente</label>
        <input pInputText id="cliente" class="flex-auto" autocomplete="off" [(ngModel)]="wareHouse.clientName" />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="cliente" class="font-semibold w-6rem">Tipo</label>
        <p-dropdown [options]="families" [(ngModel)]="selectedFam" optionLabel="name"
          placeholder="Seleccione un tipo" />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="tamano" class="font-semibold w-6rem">Tamaño</label>
        <p-inputNumber id="tamano" class="flex-auto" autocomplete="off" [(ngModel)]="wareHouse.size" />
      </div>
    </div>
  </div>
  <div class="flex justify-content-end gap-2" style="position: relative; top: 1rem;">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Save" (click)="createWareHouse()" />
  </div>
</p-dialog>
<!--modal para editar un almacén-->
<p-dialog header="{{accionEditar}}" [modal]="true" [(visible)]="visibleEditar"
  [style]="{ width: '50rem', height: '25rem' }">
  <div style="display: table;">
    <div style="display: table-cell;">
      <div class="flex align-items-center gap-3 mb-3">
        <label for="almacen" class="font-semibold w-6rem">Almacén</label>
        <input pInputText id="almacen" class="flex-auto" autocomplete="off" [value]="wareHouse.id" readonly />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="cliente" class="font-semibold w-6rem">Cliente</label>
        <input pInputText id="cliente" class="flex-auto" autocomplete="off" [(ngModel)]="wareHouse.clientName" />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="tipo" class="font-semibold w-6rem">Tipo</label>
        <input pInputText id="tipo" class="flex-auto" autocomplete="off" [(ngModel)]="wareHouse.family"
          style="width: 4rem;" readonly />
        <p-dropdown [options]="families" [(ngModel)]="selectedFamEdit" optionLabel="name"
          placeholder="Seleccione un tipo" (onChange)="onChangeEdit($event, wareHouse)" />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="tamano" class="font-semibold w-6rem">Tamaño</label>
        <p-inputNumber id="tamano" class="flex-auto" autocomplete="off" [(ngModel)]="wareHouse.size" />
      </div>
    </div>
    <div style="display: table-cell; position: relative; left: 5%;">
      <p-toast />
      <p-table [value]="racks" [scrollable]="true" scrollHeight="20rem"
        [tableStyle]="{ 'width': '15rem', 'height': '11rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Instalación</th>
            <th>Tipo</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rack>
          <tr>
            <td>{{ rack.id }}</td>
            <td>{{ rack.typeRack }}</td>
            <td>
              <button severity="danger" type="button" pButton pRipple icon="pi pi-trash" (click)="deleteRack(rack)">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div style="text-align: right; height: 1rem; position: relative; top: 1rem;">
        <p-dropdown [options]="rackMasters" [(ngModel)]="selectedRack" optionLabel="type"
          placeholder="Seleccione un rack" (onChange)="onChangeRack($event, selectedRack)" />
        <p-button label="Añadir" severity="success" (click)="addRack()" />
      </div>
      <br /><br /><br />
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visibleEditar = false" />
        <p-button label="Save" (click)="updateWareHouse()" />
      </div>
    </div>
  </div>

</p-dialog>
<p-toast />
<p-confirmPopup />